a {
    text-decoration: none;
    color: #007700;
}

caption {
    background-color: blueviolet;
}

p {
    text-align: center;
}

#amt {
    direction: rtl;
}

legend {
    text-transform: capitalize;
}

#form1 {
    text-shadow: 2px 2px 5px red;
}