a {
    text-decoration: none;
    color: #007700;
}

caption {
    background-color: blueviolet;
}

p {
    text-align: center;
}

#amt {
    direction: rtl;
}

legend {
    text-transform: capitalize;
}