* {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

body {
    background-color: grey;
}

.container {
    background-color: red;
}

/* Tabs */
.tabBtns {
    background-color: rgb(114, 0, 0);
    border: none;
    height: 60px;
    width: 150px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

.tabBtns:hover {
    background-color: rgb(184, 62, 62);
    color: black;
}

.tabBtns:focus {
    background-color: black;
    color: white;
}
/* End Tabs */

iframe {
    width: 600px;
    height: 400px;
    background-color: grey;
    border: none;
}